body, h1, h2, p {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fff;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #3197bd;
    border-bottom: 4px dashed #fff;
    color: #fff;
}

.menu {
    width: 40%;
    padding: 15px;
    float: left;
    border: 4px dashed #fff;
    background-color: #d9f1fa;
}

.main_text {
    padding: 15px;
    border: 4px dashed #fff;
    background-color: #d9f1fa;
}

nav {
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #3197bd;
    font-weight: bold;
}

main {
    display: flex;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3197bd;
    color: #fff;
    width: 100%;
}

.alg_mat01a {
    
}
