body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #afdef0;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #3197bd;
    color: #fff;
}

nav {
    text-align: center;
    margin: 10px 0;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #3197bd;
    font-weight: bold;
}

main {
    margin: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3197bd;
    color: #fff;
}
